
<!-- Brendan Dal 301332459 --> 

<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/projects.css">
</head>
<body>
  <% include partials/menu %>
  <div class="container-fluid bg-3 text-center">    
    <h3><%= page %></h3><br>
    <div class="row">
      <% projects.forEach(function(project) { %>
        <div class="col-sm-4">
          <img src="<%= project.image %>" class="img-responsive" alt="<%= project.title %>">
          <p><strong><%= project.title %></strong></p>
          <p><%= project.description %></p>
          <p><a href="<%= project.link %>" target="_blank">View Project</a></p>
        </div>
      <% }); %>
    </div>
  </div>
  <% include partials/script %>
  <%- include partials/footer.ejs %>
</body>
</html>
